mixin dandavat
  p Hare Krsna! Dandavat Pranams!

mixin warnings(warnings)
  if warnings
    .warnings(style='color:red; font-weight:bold;')
      for warning in warnings
        p= warning

mixin signature
  p Please feel free to clarify any doubts with us.
    br
    | Thank you!
  p
    | --
    br
    | Your Servants,
    br
    | Pure Bhakti Audio Seva Team.
  p For daily harikatha in English and Hindi please #[a(href="https://harikatha.com/join/") subscribe to Gaudiya Rasamrita].

mixin interval(interval)
  | #{interval.beginning}&ndash;#{interval.ending}

mixin annotation(item)
  if item
    li
      if item.entireFile
        | Entire file
      else
        +interval(item)
      |
      | - #{ item.type }
      if item.description
        |
        | - #{ item.description }

mixin currentSet(allotments, currentFileName)
  p Current set:
  ul(style='font-family: Courier,serif')
    for allotment in allotments || []
      li
        | #{ allotment.fileName }
        | #{ DateTime.fromMillis(allotment.timestampGiven, { locale: 'en-IN' }).toLocaleString() }
        | #{ allotment.status }
        | #{ DateTime.local().diff(DateTime.fromMillis(allotment.timestampGiven), ['days', 'hours']).toObject().days }
        if currentFileName && allotment.fileName === currentFileName
          strong
            |
            | -- CURRENT SUBMISSION
  p
    a(href=allotmentLink) Allot the next set

mixin today
  = DateTime.local().toFormat('dd.MM')

mixin frontendLink(path)
  - var href = `https://app.${settings.project.domain}${path}`
  a(href=href)
    if block
      block
    else
      = href
