mixin dandavat
  p Hare Krsna! Dandavat Pranams!

mixin warnings(warnings)
  if warnings
    .warnings(style='color:red; font-weight:bold;')
      for warning in warnings
        p= warning

mixin signature
  p Please feel free to clarify any doubts with us.
  p Join us on Facebook - https://www.facebook.com/audiosevateam/
  p Thank you!
  p
    | --
    br
    | Your Servants,
    br
    | Pure Bhakti Audio Seva Team.

mixin interval(interval)
  | #{interval.beginning}&ndash;#{interval.ending}

mixin annotation(item)
  li
    if item.entireFile
      | Entire file
    else 
      +interval(item)
    |
    | - #{ item.type }
    if item.description
      |
      | - #{ item.description }

mixin currentSet(allotments, currentFileName)
  p Current set:
  ul(style='font-family: Courier,serif')
    for allotment in allotments || []
      li
        | #{ allotment.fileName }
        | #{ DateTime.fromMillis(allotment.timestampGiven).toFormat('dd.MM') }
        | #{ allotment.status }
        | #{ DateTime.local().diff(DateTime.fromMillis(allotment.timestampGiven), ['days', 'hours']).toObject().days }
        if currentFileName && allotment.fileName === currentFileName
          strong
            |
            | -- CURRENT SUBMISSION
  p
    a(href=allotmentLink) Allot the next set

mixin today
  = DateTime.local().toFormat('dd.MM')

mixin frontendLink(path)
  - var href = `https://app.${settings.project.domain}${path}`
  a(href=href)
    if block
      block
    else
      = href
