include ../../mixins
mixin unit(id, part, audioLink, docLink)
  strong(style='font-family: Courier,serif')
    | ##{id}
    if part
      |
      | part #{part}
  | &ensp;
  a(href=audioLink) Audio
  | &ensp;|&ensp;
  a(href=docLink) Google Doc

+dandavat
p Below is your allotment for #[strong= stageName].
ul
  for part in parts || []
    li: +unit(id, part.number, part.audioLink, part.docLink)
  else 
    li: +unit(id, null, audioLink, docLink)

if message
  p= message

p Please refer #[a(href=guidelinesLink) the guidelines], if needed.

+signature
